extends layout

block title-block
  h1= title

block container-1
  ul
    li: a(href='#cp')
      span Control Panel

  div#cp
    div.fragment-content
      div
        a(href= `https://${httphost}:12321`)
          img(src="/images/webmin.png")
          span Webmin
      div
        a(href= `https://${httphost}/redis-commander`)
          img(src="/images/redis-commander.png")
          span Valkey Admin (Redis Commander)

      div

      div

      div

      div

      h2 Resources
      ul
        li: a(href="https://valkey.io/") Valkey project website

        li: a(href="https://valkey.io/docs/") Valkey Documentation

